.navbar {
  font-size: 25px;
}

.navbar-home {
  text-decoration: none;
  margin: 50px;
  margin-right: 300px;
  color: darkgreen;
}

.navbar-tabs {
  text-decoration: none;
  margin: 10px 15px;
  color: grey;
}
